* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Greetings{
    text-align: center;
    color: lightgrey;
    margin-top: 30px;
    transition: color 0.5s;
    user-select: none;
}
.Greetings:hover {
    color: black;
}
.Text {
    height: 450px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-top: 210px;
    margin-right: 350px;
}
.Text h1 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 6px;
}
.Text h1 img {
    position: relative;
    bottom: -3px;
    right: 10px;
    width: 35px;
    height: 30px;
}
.Text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: grey;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
    width: 350px;
}
.Img {
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
    position: relative;
    left: 400px;
    top: -430px;
}
.Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow 1s;
}
.Img img:hover {
    box-shadow: 5px 5px 15px grey;
}

