body{
    background-image:url(https://m.media-amazon.com/images/I/81rxFfoE5wL._AC_UF1000,1000_QL80_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: black;
    font-size: 25px;
}