body{
    background-color: lightgrey;
}
.TestContainer{
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
}
.Test{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 200px;
    right: 150px;
}
fieldset{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 310px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(255, 199, 135);
    border : 2px solid black;
    padding: 20px ;
    box-shadow: 5px 5px 5px grey;
}
h2{
    text-align: center;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{ 
    background-color: rgb(104, 161, 207);
    color: white;
    cursor: pointer;
}
input:focus{
    border-color: blue;
    outline: none;
}
.Menu li{
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-left: 50px;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 40px;
}
.Menu li:hover{
    background-color: grey;
    color: white;
    border-radius: 10px;
}
.Menu{
    text-align: center;
}
.Greetings{
    text-align: center;
    color: grey;
}
button{
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px 20px;
    color: black;
    border: none;
}
input{
 border-radius: 5px;
 padding: 8px;
 border: 1px solid grey;
}