* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Greetings{
    text-align: center;
    color: grey;
}
body{
    background-color: azure;
}
.header {
  background: grey;
  color: white;
  padding: 20px;
  width: 20%;
  float: left;
}
.content {
  background: lightgrey;
  color: black;
  padding: 20px;    
  width: 80%;
  float: left;
}
.kol {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 200px;
  margin-left: 750px;
}
.roc {
  flex: 1;
  padding: 50px;
  border: 4px solid black;
  background-color: chocolate;
}
