body{
    background-color: lightgrey;
}
.Greetings{
    text-align: center;
    color: grey;
}
.main{
    width: 100%;
    height: 400px;
    border: 2px solid black;
}
.main img{
    width: 300px;
    height: 200px;
    float: right;
}
h2{
    text-align: center;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Text{
    color : blue;
    text-align: center;
    font-size: 30px;
}
.Text::before{
    content: "★";
}
.Text::after{
    content: "★";
}
.Red{
    text-decoration: none;
    color: darkred;
    display: block;
    font-size: 30px;
    text-align: center;
}
.Red:hover{
    color: red;
}
.blue{
    text-decoration: none;
    color: darkblue;
    display: block;
    font-size: 30px;
    text-align: center;
}
.blue:hover{
    color: blue;
}
a:visited{
    color: black;
}
