body{
    background-color: lightgrey;
}
.Greetengs{
    text-align: center;
}
ul{
    list-style-type: square; 
    background-color: blueviolet;
    box-shadow: 5px 5px 5px grey;
} 
ol{
    list-style-type: upper-roman;
    background-color: lime;
    box-shadow: 5px 5px 5px grey;
}
ul li{
    background-color: blue;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ol li{
    background-color: green;
    margin: 10px;
    font-size: 20px;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
th{
    background-color: rgb(240, 206, 144);
}
table{
background-color: white;
box-shadow: 5px 5px 5px grey;
width: 50%;
border-radius: 5px;
}