body{
    background-color: lightgrey;
}
.Greetengs{
    text-align: center;
}
.Card{
width: 300px;
border: 3px solid black;
margin: 30px;
padding: 20px;
border-radius: 5px;
background-color:rgb(155, 215, 233);
box-shadow: 5px 5px 5px grey;
text-align: center;
font-family: Arial;
font-size: 20px;
}
.ForText{
    text-align: center;
}  
.Text{
    text-indent: 20px;
    color: darkgreen;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;

} 
.Card2{
    width: 250px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    background-color: lightyellow;
    box-shadow: 5px 5px 5px grey;
}   