body{
    background-color: lightgrey;
}
.Greetings{
    text-align: center;
    color: grey;
}
.Menu{
    position: fixed;
}
.Menu li{
display: inline;
border-radius: 10px;
padding: 6px;
margin-right: 6px;
background-color: rgb(68, 68, 68);
text-align: center;
box-shadow: 5px 5px 5px grey;
color:white;
font-weight: bold;
}
.Menu li:hover{
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}
h2{
    text-align: center;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Test1{
border: 3px solid Red;
position: relative;
top: 20px;
left: 20px;
}
.Test2{
border: 3px solid Blue;
}
.TestContainer{
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid black;
}
.Test{
    position: absolute;
    top: 20px;
    right: 100px;
    border: 2px solid black;
}
